* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.plus-button {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 52px;
  padding: 0px 22px;
  color: #9d6b53;
  background-color: #d3f9d8;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
}
